# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
*.so
*.egg
*.egg-info/

# Данные (игнорируем только временное)
data/data/*.cache
data/*.cache

# Модели (через LFS)
models/weights/pretrained/
models/weights/trained/
models/checkpoints/

# Результаты
outputs/results/runs/
outputs/results/logs/*.log
!outputs/results/logs/.gitkeep

# IDE
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
